
.Exam{
    
    .TestBanner{

        img{
            width: 100%;
        }
    }

    .TestNavSe{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        background: #fff;
        color: #fff;

        .TestNavSeItem{
            width: 49%;
            height: 84px;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-image: linear-gradient(224deg, #53E2FF 0%, #2D88B8 98%);
            border-radius: 4px;
            img{
                width: 48px;
                margin-right: 14px;
            }
            span{
                font-size: 16px;
                color: #FFFFFF;
                text-align: center;
                text-shadow: 0 2px 4px rgba(112,112,112,0.50);
                font-weight: 600;
            }
        }
    }

    .testMainTitle{
        height: 45px;
        line-height: 45px;
        text-align: left;
        margin-top: 10px;
        background: #fff;
        padding: 0 10px;
        font-size: 16px;
        color: #303030;
        font-weight: 600;
    }

    .IconListContainer{
        background: #F5F5F5;
    }
}
